[core]
	excludesfile = /Users/stherold/.gitignore
	mergeoptions = --no-edit
	editor = nano
[user]
	name = Stefan Herold
	email = stefan.herold@gmail.com
	signingkey = DE546DEBFC1C1C01
[push]
	default = simple
[branch]
	autosetuprebase = always
[github]
	user = blackjacx
[ghi]
	token = !security find-internet-password -a blackjacx -s github.com -l 'ghi token' -w
[credential]
	helper = osxkeychain
[gpg]
	program = /usr/local/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[rerere]
	enabled = true
[rebase]
	autosquash = true
	autoStash = true
[init]
	defaultBranch = main
[pager]
	diff = false
	log = true
